.prev-customer,
.next-customer {
  display: none;
}

li>.page-link {
  color: #5cb85c;
}

li>.page-link:hover {
  color: #3d8b3d;
  text-decoration: underline;
}

.new-input {
  outline: none;
  border: none;
  width: 100%;
}

.ExampleOfUsage {
  display: flex;
  justify-content: center;
  height: 60vh;
}